<!DOCTYPE html>
<html>
  <head>
    <title>Matreon</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'matreon-bundle' %>
    <%= stylesheet_pack_tag 'matreon-bundle' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
