<!DOCTYPE html>
<html>
  <head>
    <title>Matreon</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'matreon-bundle' %>
    <%= stylesheet_pack_tag 'matreon-bundle' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Matreon</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Matrons <span class="sr-only">(current)</span></a>
            </li>
            <% if current_user %>
              <li class="nav-item">
                <a class="nav-link" href="#">My Contribution</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Invoices</a>
              </li>
            <% end %>
            <% if current_user %>
              <li class="nav-item">
                <a class="nav-link" href="/users/sign_out" data-method="delete">Logout</a>
              </li>
            <% else %>
              <li class="nav-item">
                <a class="nav-link" href="/users/sign_in">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/sign_up">Register</a>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>

      <main role="main" class="container">
          <%= yield %>
      </main>
  </body>
</html>
